.scrollbar-media {
  display: flex;
  overflow-x: hidden;
  width: calc(100vw - 60px);

  &__media {
    position: relative;
    display: flex;
    height: 300px;
    margin: var(--gutter-md);
    flex-shrink: 0;
  }

}
